  <section
            class="tw-relative tw-mt-20 tw-flex tw-min-h-[100vh] tw-w-full tw-max-w-[100vw] tw-flex-col tw-place-items-center lg:tw-p-6"
        > 
            <div class="tw-w-full max-lg:tw-max-w-full tw-place-content-center tw-place-items-center 
                        tw-flex tw-flex-col tw-max-w-[80%] tw-gap-4 tw-p-4">
               
                <h3 class="reveal-up tw-text-5xl tw-font-medium max-md:tw-text-3xl tw-text-center tw-leading-normal">
                    Automated Response &
 Alerting
                </h3>
                <p class="reveal-up tw-mt-3 tw-max-w-[600px] tw-text-center ">
                    Our security platform delivers high-speed, fully automated incident response designed to contain threats the moment they are detected. By integrating AI-driven decision-making with real-time analytics, the system eliminates delays and ensures immediate action against emerging risks—reducing the attack window from minutes to milliseconds.
            
            </p>
            <p class="reveal-up tw-mt-3 tw-max-w-[600px] tw-text-center ">
                The system also generates intuitive, actionable alerts supported by risk scoring, contextual insights, and event correlation. These alerts help security teams quickly understand the severity and scope of the threat without being overwhelmed by noise or false positives.
            </p>
            <p class="reveal-up tw-mt-3 tw-max-w-[600px] tw-text-center ">
                By combining automated containment, intelligent orchestration, and rapid alerting, the platform ensures that threats are neutralized instantly—before they impact critical systems, disrupt operations, or compromise sensitive data. This transforms security operations from reactive to proactive, efficient, and resilient, giving organizations a powerful defense against today’s fast-moving cyber threats.
            </p>
                </div>
        </section>