  <section
            class="tw-relative tw-mt-20 tw-flex tw-min-h-[100vh] tw-w-full tw-max-w-[100vw] tw-flex-col tw-place-items-center lg:tw-p-6"
        > 
            <div class="tw-w-full max-lg:tw-max-w-full tw-place-content-center tw-place-items-center 
                        tw-flex tw-flex-col tw-max-w-[80%] tw-gap-4 tw-p-4">
               
                <h3 class="reveal-up tw-text-5xl tw-font-medium max-md:tw-text-3xl tw-text-center tw-leading-normal">
                    Behavioral Analytics (UEBA)
                </h3>
                <p class="reveal-up tw-mt-3 tw-max-w-[600px] tw-text-center ">
                    UEBA is an advanced cybersecurity approach that uses machine learning, statistical models, and behavioral analytics to understand how users and entities normally behave inside an organization—and then detect when something unusual or risky occurs. Unlike traditional security systems that rely on fixed rules or known threat signatures, UEBA focuses on identifying behavioral anomalies, making it highly effective against insider threats, compromised accounts, and sophisticated attacks that bypass traditional defenses.
                    </p><p class="reveal-up tw-mt-3 tw-max-w-[600px] tw-text-center">
UEBA continuously analyzes patterns such as user logins, access behavior, data movement, application usage, endpoint interactions, and network activity. It builds a dynamic baseline of “normal behavior” for every user, device, service account, and system. When real-time behavior deviates from this baseline—such as unusual file access, abnormal login locations, excessive privilege use, or unexpected lateral movement—the UEBA engine immediately flags it as suspicious.
</p>
            </div>
        </section>