      

        <!-- <section
            class="tw-relative tw-flex tw-min-h-[80vh] tw-w-full tw-max-w-[100vw] tw-flex-col tw-place-content-center tw-place-items-center tw-overflow-hidden tw-p-6"
        >
            <div
                class="reveal-up tw-flex tw-min-h-[60vh] tw-place-content-center tw-place-items-center tw-gap-[10%] max-lg:tw-flex-col max-lg:tw-gap-10"
            >
                <div class="tw-flex">
                    <div
                        class="tw-max-h-[650px] tw-max-w-[850px] tw-overflow-hidden tw-rounded-lg tw-shadow-lg tw-shadow-[rgba(170,49,233,0.44021358543417366)]"
                    >
                        <img
                            src="./assets/images/home/dash.png"
                            alt="coding"
                            class="tw-h-full tw-w-full tw-object-cover"
                        />
                    </div>
                </div>
                <div
                    class="tw-mt-6 tw-flex tw-max-w-[450px] tw-flex-col tw-gap-4"
                >
                    <h3 class="tw-text-4xl tw-font-medium max-md:tw-text-2xl">
                        Simple to use plugins
                    </h3>

                    <div class="tw-mt-4 tw-flex tw-flex-col tw-gap-3">
                        <h4 class="tw-text-xl tw-font-medium">
                            <i class="bi bi-check-all !tw-text-2xl"></i>
                            AI powered
                        </h4>
                        <span
                            class="tw-text-lg tw-text-gray-300 max-md:tw-text-base"
                        >
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Reiciendis commodi temporibus at? Aspernatur,
                            a necessitatibus?
                        </span>
                    </div>
                    <div class="tw-mt-4 tw-flex tw-flex-col tw-gap-3">
                        <h4 class="tw-text-xl tw-font-medium">
                            <i class="bi bi-check-all !tw-text-2xl"></i>
                            Locally run
                        </h4>
                        <span
                            class="tw-text-lg tw-text-gray-300 max-md:tw-text-base"
                        >
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Reiciendis commodi temporibus at? Aspernatur,
                            a necessitatibus?
                        </span>
                    </div>
                </div>
            </div>
        </section> -->

        <section
            class="tw-relative tw-mt-20 tw-flex tw-min-h-[100vh] tw-w-full tw-max-w-[100vw] tw-flex-col tw-place-items-center lg:tw-p-6"
        >
            <div
                class="reveal-up tw-flex tw-min-h-[60vh] tw-place-content-center tw-place-items-center tw-gap-[10%] max-lg:tw-flex-col max-lg:tw-gap-10"
            >
                <div
                    class="tw-mt-6 tw-flex tw-max-w-[450px] tw-flex-col tw-gap-4"
                >
                    <h3 class="tw-text-4xl tw-font-medium max-md:tw-text-2xl">
                        COMPANY PROFILE
                    </h3>

                    <div class="tw-mt-4 tw-flex tw-flex-col tw-gap-3">
                        <h4 class="tw-text tw-font-small">
                            Zero Trust Private Limited is an IT services and solutions company delivering end-to-end technology support for businesses. The company focuses on managed IT services, infrastructure solutions, system integration, software and hardware support, and digital technology services. With a commitment to reliability and innovation, Zero Trust helping organizations strengthen their security posture through continuous monitoring and automation.
                        </h4>
                        <h2 class="tw-text-4xl tw-font-medium max-md:tw-text-2xl"
                            
                        >
                           KEY SERVICES :
                    </h2>
                    </div>
                    <div class="tw-mt-4 tw-flex tw-flex-col tw-gap-3">
                       <span class="tw-text tw-font-small">
                            <i class="bi bi-check-all !tw-text-2xl"></i>
                            Managed IT & Infrastructure Support
                       </span>
                       <span class="tw-text tw-font-small">
                            <i class="bi bi-check-all !tw-text-2xl"></i>
                            System Integration
                       </span>
                       <span class="tw-text tw-font-small">
                            <i class="bi bi-check-all !tw-text-2xl"></i>
                            Software & Hardware Solutions
                       </span>
                       <span class="tw-text tw-font-small">
                            <i class="bi bi-check-all !tw-text-2xl"></i>
                            IT Consulting & Technical Support
                       </span>

                    </div>
                </div>

                <div class="tw-flex">
                    <div
                        class="tw-max-h-[650px] tw-max-w-[850px] tw-overflow-hidden tw-rounded-lg tw-shadow-lg tw-shadow-[rgba(170,49,233,0.44021358543417366)]"
                    >
                        <img
                            src="./assets/images/home/Office.png"
                            alt="coding"
                            class="tw-h-full tw-w-full tw-object-cover"
                        />
                    </div>
                </div>
            </div>
        </section>

<section
            class="tw-relative tw-flex tw-w-full tw-max-w-[100vw] tw-min-h-[100vh] tw-flex-col tw-place-content-center tw-place-items-center tw-overflow-hidden tw-p-6"
        >
            <div
                class="tw-mt-8 tw-flex tw-flex-col tw-place-items-center tw-gap-5"
            >
                <div
                    class="reveal-up tw-mt-5 tw-flex tw-flex-col tw-gap-3 tw-text-center"
                >
                    <h3 class="tw-text-xl tw-text-primary">
                        Features loved by our clients
                    </h3>
                    <h2 class="tw-text-4xl tw-font-semibold">Core features</h2>
                </div>
                <div
                    class="tw-mt-6 tw-flex tw-max-w-[60%] tw-flex-wrap tw-place-content-center tw-gap-2 max-lg:tw-flex-col"
                >
                    <div
                        class="reveal-up tw-flex tw-h-[250px] tw-w-[350px] tw-flex-col tw-gap-2 tw-p-4 tw-text-center"
                    >
                        <!-- <img src="./assets/images/home/sample.jpg" 
                                alt="feature1"> -->
                        <i
                            class="bi bi-display tw-text-5xl tw-text-primary"
                        ></i>
                        <h3 class="tw-text-2xl tw-font-semibold">Real-Time Threat Monitoring</h3>
                        <div class="tw-text-gray-300">
                            Continuous surveillance of
 networks, endpoints, and
 cloud infrastructure to detect and respond to threats as they occur.
                        </div>
                    </div>
                    <div
                        class="reveal-up tw-flex tw-h-[250px] tw-w-[350px] tw-flex-col tw-gap-2 tw-p-4 tw-text-center"
                    >
                        <!-- <img src="./assets/images/home/sample.jpg" 
                                alt="feature1"> -->
                        <i
                            class="bi bi-virus2 tw-text-5xl tw-text-primary"
                        ></i>
                        <h3 class="tw-text-2xl tw-font-semibold">AI & ML-Based Threat</h3>
                        <div class="tw-text-gray-300">
                            Predictive
 anomaly detection using
 advanced algorithms to identify potential threats before they manifest.
                        </div>
                    </div>
                    <div
                        class="reveal-up tw-flex tw-h-[250px] tw-w-[350px] tw-flex-col tw-gap-2 tw-p-4 tw-text-center"
                    >
                        <!-- <img src="./assets/images/home/sample.jpg" 
                                alt="feature1"> -->
                        <i
                            class="bi bi-clipboard2-data-fill tw-text-5xl tw-text-primary"
                        ></i>
                        <h3 class="tw-text-2xl tw-font-semibold">Behavioral Analytics (UEBA)</h3>
                        <div class="tw-text-gray-300">
                            Baseline creation and
 deviation detection for user
 activity to identify insider threats and compromised accounts.
                        </div>
                    </div>
                    <div
                        class="reveal-up tw-flex tw-h-[250px] tw-w-[350px] tw-flex-col tw-gap-2 tw-p-4 tw-text-center"
                    >
                        <!-- <img src="./assets/images/home/sample.jpg" 
                                alt="feature1"> -->
                        <i
                            class="bi bi-exclamation-circle-fill tw-text-5xl tw-text-primary"
                        ></i>
                        <h3 class="tw-text-2xl tw-font-semibold">Automated Response &
 Alerting</h3>
                        <div class="tw-text-gray-300">
                            Fast reaction
 through 
auto-isolation,
 account lockdowns, and IP
 blocking to mitigate threats immediately.
                        </div>
                    </div>
                    <div
                        class="reveal-up tw-flex tw-h-[250px] tw-w-[350px] tw-flex-col tw-gap-2 tw-p-4 tw-text-center"
                    >
                        <!-- <img src="./assets/images/home/sample.jpg" 
                                alt="feature1"> -->
                        <i
                            class="bi bi-pc-display tw-text-5xl tw-text-primary"
                        ></i>
                        <h3 class="tw-text-2xl tw-font-semibold">MITRE ATT&CK Framework</h3>
                        <div class="tw-text-gray-300">
                            Maps detected
 threats to known adversary
 tactics and techniques for
 improved threat analysis and
 incident response.
                        </div>
                    </div>
                    <div
                        class="reveal-up tw-flex tw-h-[250px] tw-w-[350px] tw-flex-col tw-gap-2 tw-p-4 tw-text-center"
                    >
                        <!-- <img src="./assets/images/home/sample.jpg" 
                            alt="feature1"> -->
                        <i class="bi bi-gear-fill tw-text-5xl tw-text-primary"></i>
                        <h3 class="tw-text-2xl tw-font-semibold"> Threat 
Integration 
Intelligence</h3>
                        <div class="tw-text-gray-300">
                           Correlates
 internal events with global
 indicators of compromise
 (IOCs).
                        </div>
                    </div>


                    <div
                        class="reveal-up tw-flex tw-h-[250px] tw-w-[350px] tw-flex-col tw-gap-2 tw-p-4 tw-text-center"
                    >
                        <!-- <img src="./assets/images/home/sample.jpg" 
                            alt="feature1"> -->
                        <i class="bi bi-calendar2-week-fill tw-text-5xl tw-text-primary"></i>
                        <h3 class="tw-text-2xl tw-font-semibold">  Dashboard & Reporting
 System</h3>
                        <div class="tw-text-gray-300">
                          Real-time
 visualization of alerts, trends,
 and attack simulations for comprehensive security insights.
                        </div>
                    </div>


                    <div
                        class="reveal-up tw-flex tw-h-[250px] tw-w-[350px] tw-flex-col tw-gap-2 tw-p-4 tw-text-center"
                    >
                        <!-- <img src="./assets/images/home/sample.jpg" 
                            alt="feature1"> -->
                        <i class="bi bi-calendar-x-fill tw-text-5xl tw-text-primary"></i>
                        <h3 class="tw-text-2xl tw-font-semibold">Attack Simulation & Testing</h3>
                        <div class="tw-text-gray-300">
                           Enables organizations to
 test and strengthen their
 cyber defenses proactively through simulated attacks.
                        </div>
                    </div>
                </div>
            </div>
        </section>




         <section
            class="tw-relative tw-mt-10 tw-flex tw-min-h-[100vh] tw-w-full tw-max-w-[100vw] tw-flex-col tw-place-items-center lg:tw-p-6"
        >
            <div
                class="tw-mt-8 tw-flex tw-flex-col tw-place-items-center tw-gap-5"
            >
                <div
                    class="reveal-up tw-mt-5 tw-flex tw-flex-col tw-gap-3 tw-text-center"
                >
                    <h2
                        class="tw-text-4xl tw-font-medium tw-text-gray-200 max-md:tw-text-3xl"
                    >
                        Key benifits
                    </h2>
                </div>



                <div
                    class="tw-mt-6 tw-flex tw-max-w-[80%] tw-flex-wrap tw-place-content-center tw-gap-8 max-lg:tw-flex-col"
                >
                    <div
                        class="reveal-up tw-flex tw-h-[400px] tw-w-[450px] tw-flex-col tw-gap-3 tw-text-center max-md:tw-w-[320px]"
                    >
                        <div
                            class="border-gradient tw-h-[200px] tw-w-full tw-overflow-hidden max-md:tw-h-[150px]"
                        >
                            <div
                                class="tw-flex tw-h-full tw-w-full tw-place-content-center tw-place-items-end tw-p-2"
                            >
                                <i
                                    class="bi bi-rocket-takeoff-fill tw-text-7xl tw-text-gray-200 max-md:tw-text-5xl"
                                ></i>
                            </div>
                        </div>
                        <div class="tw-flex tw-flex-col tw-gap-4 tw-p-2">
                            <h3
                                class="tw-mt-8 tw-text-2xl tw-font-normal max-md:tw-text-xl"
                            >
                                Minimize hours spent
                            </h3>
                            <div class="tw-text-gray-300">
                                Its helps in reducing the time and effort
                                required for development.
                            </div>
                        </div>
                    </div>
                    <div
                        class="reveal-up tw-flex tw-h-[400px] tw-w-[450px] tw-flex-col tw-gap-3 tw-text-center max-md:tw-w-[320px]"
                    >
                        <div
                            class="border-gradient tw-h-[200px] tw-w-full tw-overflow-hidden max-md:tw-text-[150px]"
                        >
                            <div
                                class="tw-flex tw-h-full tw-w-full tw-place-content-center tw-place-items-end tw-p-2"
                            >
                                <i
                                    class="bi bi-layout-sidebar-inset tw-text-7xl tw-text-gray-200 max-md:tw-text-5xl"
                                ></i>
                            </div>
                        </div>
                        <div class="tw-flex tw-flex-col tw-gap-4 tw-p-2">
                            <h3
                                class="tw-mt-8 tw-text-2xl tw-font-normal max-md:tw-text-xl"
                            >
                                Simple to use
                            </h3>
                            <div class="tw-text-gray-300">
                                this tool is easy to use and understand.
                            </div>
                        </div>
                    </div>
                    <div
                        class="reveal-up tw-flex tw-h-[400px] tw-w-[450px] tw-flex-col tw-gap-3 tw-text-center max-md:tw-w-[320px]"
                    >
                        <div
                            class="border-gradient tw-h-[200px] tw-w-full tw-overflow-hidden max-md:tw-h-[150px]"
                        >
                            <div
                                class="tw-flex tw-h-full tw-w-full tw-place-content-center tw-place-items-end tw-p-2"
                            >
                                <i
                                    class="bi bi-lightning-charge-fill tw-text-7xl tw-text-gray-200 max-md:tw-text-5xl"
                                ></i>
                            </div>
                        </div>
                        <div class="tw-flex tw-flex-col tw-gap-4 tw-p-2">
                            <h3
                                class="tw-mt-8 tw-text-2xl tw-font-normal max-md:tw-text-xl"
                            >
                                Secure your Organization
                            </h3>
                            <div class="tw-text-gray-300">
                                you can develop your project secure
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>