  <section
            class="tw-relative tw-mt-20 tw-flex tw-min-h-[100vh] tw-w-full tw-max-w-[100vw] tw-flex-col tw-place-items-center lg:tw-p-6"
        > 
            <div class="tw-w-full max-lg:tw-max-w-full tw-place-content-center tw-place-items-center 
                        tw-flex tw-flex-col tw-max-w-[80%] tw-gap-4 tw-p-4">
               
                <h3 class="reveal-up tw-text-5xl tw-font-medium max-md:tw-text-3xl tw-text-center tw-leading-normal">
                    MITRE ATT&CK Framework
 Integration
                </h3>
                <p class="reveal-up tw-mt-3 tw-max-w-[600px] tw-text-center ">
                    Our platform seamlessly integrates with the MITRE ATT&CK Framework, a globally recognized knowledge base of adversary tactics, techniques, and real-world threat behaviors. By mapping every detected activity—including anomalies, suspicious user actions, endpoint signals, and network events—to specific ATT&CK tactics and techniques, the system provides deep contextual understanding of how an attack is unfolding and what stage it is currently in.
            </p>
            <p class="reveal-up tw-mt-3 tw-max-w-[600px] tw-text-center ">
               By linking alerts to MITRE ATT&CK, the system enhances threat analysis with powerful insight, enabling defenders to visualize the attack path, uncover hidden relationships between events, and identify gaps in existing security controls.</p>
            <p class="reveal-up tw-mt-3 tw-max-w-[600px] tw-text-center ">
               Furthermore, automated response workflows leverage MITRE mappings to recommend or trigger precise containment actions, ensuring faster and more accurate incident resolution. This structured, intelligence-driven approach improves detection accuracy, accelerates investigations, and strengthens the organization’s overall resilience against advanced cyberattacks.  </p>
                </div>
        </section>