  <section
            class="tw-relative tw-mt-20 tw-flex tw-min-h-[100vh] tw-w-full tw-max-w-[100vw] tw-flex-col tw-place-items-center lg:tw-p-6"
        > 
            <div class="tw-w-full max-lg:tw-max-w-full tw-place-content-center tw-place-items-center 
                        tw-flex tw-flex-col tw-max-w-[80%] tw-gap-4 tw-p-4">
               
                <h3 class="reveal-up tw-text-5xl tw-font-medium max-md:tw-text-3xl tw-text-center tw-leading-normal">
                    Dashboard & Reporting
 System
                </h3>
                <p class="reveal-up tw-mt-3 tw-max-w-[600px] tw-text-center ">
                    Our platform features a powerful Dashboard & Reporting System designed to provide real-time visibility into your entire security ecosystem. With dynamic visualizations, interactive charts, and continuously updated metrics, the dashboard delivers a unified view of alerts, system health, threat trends, user behavior, entity activity, and ongoing security operations. </p>
            <p class="reveal-up tw-mt-3 tw-max-w-[600px] tw-text-center ">
               Analysts can instantly monitor high-severity alerts, emerging attack patterns, and deviations across networks, endpoints, and cloud environments—all presented through intuitive graphs, heatmaps, timelines, and risk scores. The system also integrates attack simulations and adversary emulation results, allowing organizations to visualize how threats propagate, which controls are effective, and where vulnerabilities may still exist.  </p>
            <p class="reveal-up tw-mt-3 tw-max-w-[600px] tw-text-center ">
              These reports can be generated automatically, customized for different teams, and exported for management, compliance officers, or security auditors. With real-time data correlation and contextualized intelligence, the Dashboard & Reporting System empowers security teams to make informed decisions, prioritize critical risks, and continuously strengthen their cybersecurity posture. </p>
                </div>
        </section>