  <section
            class="tw-relative tw-mt-20 tw-flex tw-min-h-[100vh] tw-w-full tw-max-w-[100vw] tw-flex-col tw-place-items-center lg:tw-p-6"
        > 
            <div class="tw-w-full max-lg:tw-max-w-full tw-place-content-center tw-place-items-center 
                        tw-flex tw-flex-col tw-max-w-[80%] tw-gap-4 tw-p-4">
               
                <h3 class="reveal-up tw-text-5xl tw-font-medium max-md:tw-text-3xl tw-text-center tw-leading-normal">
                    AI & ML-Based Threat
 Detection 
                </h3>
                <p class="reveal-up tw-mt-3 tw-max-w-[600px] tw-text-center ">
                    Our platform leverages the full power of Artificial Intelligence and Machine Learning to deliver a highly adaptive, real-time threat detection ecosystem. Using predictive analytics and anomaly-detection algorithms, the system continuously monitors user behavior, network activity, endpoint signals, and cloud workloads to identify suspicious patterns long before they escalate into security breaches.
</p><p class="reveal-up tw-mt-3 tw-max-w-[600px] tw-text-center ">
With automated data correlation across logs, events, and telemetry sources, the AI engine learns from historical attack vectors and emerging threat intelligence to accurately distinguish between normal activity and potential indicators of compromise. This proactive approach enables the platform to detect subtle deviations, unknown attack signatures, zero-day exploits, and insider threats that traditional security tools often miss.

</p>
<p class="reveal-up tw-mt-3 tw-max-w-[600px] tw-text-center ">
By combining dynamic baselining, behavioral modeling, and continuous learning, the system delivers unparalleled visibility and early-stage risk identification. This ensures that your security operations team can respond faster, reduce false positives, and prevent attacks before they impact critical assets. Ultimately, our AI and ML-based threat detection framework transforms cybersecurity from a reactive defense strategy into a proactive, intelligent, and predictive security posture.

</p>
                
              

            </div>
        </section>