 <section
            class="hero-section tw-relative tw-mt-20 tw-flex tw-min-h-[100vh] tw-w-full tw-max-w-[100vw] tw-flex-col tw-overflow-hidden max-lg:tw-mt-[100px]"
            id="hero-section"
        >

            <div
                class="tw-mt-8 tw-flex tw-flex-col tw-w-full tw-h-full tw-place-items-center tw-gap-5"
            >
                <div
                    class="reveal-up tw-mt-5 tw-flex tw-flex-col tw-gap-3 tw-text-center"
                >
                    <h2
                        class="tw-text-6xl tw-font-medium max-md:tw-text-3xl tw-p-2"
                    >
                        Experience Advanced Threat Detection
                    </h2>
                </div>
                <div
                    class="tw-mt-6 tw-flex tw-flex-col tw-max-w-[1150px] max-lg:tw-max-w-full tw-h-full 
                            tw-p-4 max-lg:tw-place-content-center tw-gap-8 "
                >   

                    <div class="max-xl:tw-flex max-xl:tw-flex-col tw-place-items-center tw-grid tw-grid-cols-3 tw-gap-8 
                                tw-place-content-center tw-auto-rows-auto">
                        <div class="reveal-up tw-w-[350px] tw-h-[540px] tw-flex max-md:tw-w-full">
                            <a href="/real-time-monitoring" class=" tw-relative tw-p-10 tw-transition-all tw-duration-300 tw-group/card  tw-gap-5 tw-flex 
                                tw-flex-col tw-w-full tw-h-full  tw-bg-[#f6f7fb] dark:tw-bg-[#171717] tw-rounded-3xl 
                                hover:tw-scale-[1.02]">
                                <div class="tw-overflow-hidden tw-w-full tw-min-h-[180px] tw-h-[180px]">
                                    <img src="./assets/images/home/Security-Monitoring.png" class="tw-w-full tw-object-contain tw-h-auto" 
                                        alt="unified interface">
                                    <!-- <i class="bi bi-grid-1x2-fill"></i> -->
                                </div>
                                <h2 class="tw-text-3xl max-md:tw-text-2xl tw-font-medium">Continuous Monitoring</h2>
                                <p class="tw-text-base tw-leading-normal tw-text-gray-800 dark:tw-text-gray-200">
                                   We are developing an open-source project similar to Wazuh, designed to serve as a comprehensive 
Security Information and Event Management (SIEM) platform.
                                </p>
                                <div class="tw-flex tw-items-center tw-gap-2 tw-mt-auto">
                                    <span>Learn more</span>
                                    <i class="bi bi-arrow-right tw-transform tw-transition-transform tw-duration-300 group-hover/card:tw-translate-x-2"></i>
                                </div>
                            </a>
                        </div>

                        
                        <div class="reveal-up tw-w-[350px] tw-h-[540px] tw-flex max-md:tw-w-full">
                            <a href="#" class=" tw-relative tw-p-10 tw-transition-all tw-duration-300 tw-group/card  tw-gap-5 tw-flex 
                                tw-flex-col tw-w-full tw-h-full  tw-bg-[#f6f7fb] dark:tw-bg-[#171717] tw-rounded-3xl 
                                hover:tw-scale-[1.02]">
                                <div class="tw-w-full tw-min-h-[180px] tw-h-[180px] tw-overflow-hidden">
                                    <img src="./assets/images/home/image3.png" 
                                        alt="API" class="tw-w-full tw-h-auto tw-object-contain">
                                    <!-- <i class="bi bi-grid-1x2-fill"></i> -->
                                </div>
                                <h2 class="tw-text-3xl max-md:tw-text-2xl tw-font-medium">Anomaly-Based Detection</h2>
                                <p class="tw-leading-normal tw-text-gray-800 dark:tw-text-gray-200">
                                    Collect labeled/unlabeled training data (network logs, authentication logs, system 
metrics). 
                                </p>
                                <div class="tw-flex tw-items-center tw-gap-2 tw-mt-auto">
                                    <span>Learn more</span>
                                    <i class="bi bi-arrow-right tw-transform tw-transition-transform tw-duration-300 group-hover/card:tw-translate-x-2"></i>
                                </div>
                            </a>
                        </div>

                        
                        <div class="reveal-up tw-w-[350px] tw-h-[540px] tw-flex max-md:tw-w-full">
                            <a href="/automated-response" class=" tw-relative tw-p-10 tw-transition-all tw-duration-300 tw-group/card  tw-gap-5 tw-flex 
                                tw-flex-col tw-w-full tw-h-full  tw-bg-[#f6f7fb] dark:tw-bg-[#171717] tw-rounded-3xl 
                                hover:tw-scale-[1.02]">
                                <div class="tw-w-full tw-flex tw-place-contet-center tw-min-h-[180px] tw-h-[180px] tw-rounded-xl tw-overflow-hidden">
                                    <img src="./assets/images/home/Alert.png" class="tw-w-full tw-h-auto tw-object-contain" 
                                            alt="Prebuilt integrations">
                                </div>
                                <h2 class="tw-text-3xl max-md:tw-text-2xl tw-font-medium">Alert Generation</h2>
                                <p class="tw-leading-normal tw-text-gray-800 dark:tw-text-gray-200">
                                    Once the AI/ML models and the MITRE ATT&CK correlation engine identify an anomaly, an 
alert is automatically generated. 
Each alert contains detailed contextual information
                                </p>
                                <div class="tw-flex tw-items-center tw-gap-2 tw-mt-auto">
                                    <span>Learn more</span>
                                    <i class="bi bi-arrow-right tw-transform tw-transition-transform tw-duration-300 group-hover/card:tw-translate-x-2"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="reveal-up tw-w-full md:tw-h-[350px] max-md:tw-min-h-[350px] tw-flex">
                        <a href="/automated-response" class=" tw-relative tw-p-10 tw-transition-all tw-duration-300 tw-group/card  tw-gap-5 tw-flex 
                            max-md:tw-flex-col tw-w-full tw-h-full  tw-bg-[#f6f7fb] dark:tw-bg-[#171717] tw-rounded-3xl 
                            hover:tw-scale-[1.02]">
                            <div class="tw-text-6xl tw-overflow-hidden tw-rounded-xl tw-w-full tw-h-full max-md:tw-h-[180px]">
                                <img src="./assets/images/home/response.png" class="tw-w-full tw-object-contain tw-h-full" 
                                    alt="AI models">
                                <!-- <i class="bi bi-grid-1x2-fill"></i> -->
                            </div>
                            <div class="tw-flex tw-flex-col tw-gap-4">
                                <h2 class="tw-text-3xl max-md:tw-text-2xl tw-font-medium">Automated Response Mechanism</h2>
                                <p class="tw-leading-normal tw-text-gray-800 dark:tw-text-gray-200">
                                    The system supports semi-automated and fully automated responses to contain threats quickly. 
These responses can be rule-based or AI-driven, depending on the anomaly type and confidence 
level.
                                </p>
                                <div class="tw-flex tw-items-center tw-gap-2 tw-mt-auto">
                                    <span>Learn more</span>
                                    <i class="bi bi-arrow-right tw-transform tw-transition-transform tw-duration-300 group-hover/card:tw-translate-x-2"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>
       